<div *ngIf="entries.length > 0">
    <div class="md-padding" layout="row" layout-wrap>
        <mat-card style="width: 350px" *ngFor="let entry of entries; let i = index">
            <mat-card-title>{{i + 1}}) Game against {{ entry.against }}</mat-card-title>
            <mat-card-content>Result: {{ entry.winner }}</mat-card-content>
        </mat-card>
    </div>
    <br> 
    <button mat-raised-button color="warn"
    (click)="resetEntries()">Remove entries</button>
</div>
<div *ngIf="entries.length == 0">
    <div class="md-padding" layout="row" layout-wrap>
        <mat-card style="width: 350px">
            <mat-card-title>No played games found</mat-card-title>
            <mat-card-content>Go play some games!</mat-card-content>
        </mat-card>
    </div>
</div>