<div class="container mt-5" class="center">
    <div class="row custom-wrapper">
      <form [formGroup]="modeForm" (ngSubmit)="onSubmit()">
        <div class="d-grid">
          <select
            style="padding: 10px"
            class="custom-select mb-3"
            (change)="changeMode($event)"
            formControlName="mode"
          >
            <option value="">Choose Mode</option>
            <option *ngFor="let mode of modes">
              {{ mode }}
            </option>
          </select>
          <select *ngIf="modeForm.value['mode'] == 'AI'"
            style="padding: 10px"
            class="custom-select mb-3"
            (change)="changeDiff($event)"
            formControlName="diff"
          >
            <option value="">Choose Difficulty</option>
            <option *ngFor="let diff of difficulties">
              {{ diff }}
            </option>
          </select>
          <button type="submit" [disabled]="!modeForm.valid" class="btn btn-danger btn-lg btn-block">
            Play!
          </button>
        </div>
      </form>
    </div>
  </div>